.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;

  &_label {
    font-weight: bold;
  }
  
  &_field {
    padding: 5px;
    font-size: 1.2rem;
  }
}

.input-remember {
  display: flex;

  &_label {
    margin-left: 0.25rem;
  }
}