.button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &_error {
    border: 2.5px #00bc77 outset;
    display: block;
    padding: 8px 30px;
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  &_form{
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    border: none;
  }
  
  &_edit {
    border: 2.5px #00bc77 outset;
    padding: 10px;
    font-size: 0.8rem;
  }
  
  &_transaction {
    border: 2.5px #00bc77 outset;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 1.1rem;
    margin-top: 1rem;
  
    @media (min-width: 720px) {
      width: 200px;
    }
  }
}