.feature {

  &_icon {
    width: 100px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    padding: 1rem;
  }
  
  &_item {
    flex: 1;
    padding: 2.5rem;

    &_title {
      color: #222;
      font-size: 1.25rem;
      font-weight: bold;
      margin-top: 1.3rem;
      margin-bottom: 0.5rem;
    }

    &_text {
      margin: 1rem 0;
    }
  }
}